---
// Preloader Component
---

<div id="preloader">
  <div class="loader-content">
    <div class="logo-text">ARTURO RÓDEN</div>
    <div class="dots">
      <span class="dot"></span>
      <span class="dot"></span>
      <span class="dot"></span>
    </div>
  </div>
</div>



